/* GENERAL */
*{
  margin: 0;
  box-sizing: border-box;
}

header{
  position: relative;
}

main{
  margin: 10px;
}
/* HEADER */
#background-color, #background-img{
  width: 100%;
  height: 100px;
}
#background-img{
  background-image: url(../img/pattern.png);
  background-size: 27%;
}

#background-color{
  background-color:rgba(78,160,255,255);
}

#logo{
  width: 10em;
  position: absolute;
  bottom: 7px;
  left: 16px;
}
/* MAIN section1*/

.grey, #data {
  color: grey;
}
#data{
  font-size: small;
  margin-top: 5px;
  margin-bottom: 10px;
}
p>a{
  color: #5ca7ff;
}
#pic-description{
  font-size: smaller;
}