/* GENERAL */
*{
  margin: 0;
  box-sizing: border-box;
}

header{
  position: relative;
}

main, footer{
  margin: auto;
  width: 68%;
}

footer{
  margin-top: 40px;
}

li{
  margin-bottom: 5px;
}
.underline{
  background-color: #eeee6b;
}
/* HEADER */
#background-color, #background-img{
  width: 100%;
  height: 100px;
}
#background-img{
  background-image: url(../img/pattern.png);
  background-size: 27%;
}

#background-color{
  background-color:rgba(78,160,255,255);
}

#logo{
  width: 10em;
  position: absolute;
  bottom: 7px;
  left: 16px;
}
/* MAIN section1*/

.grey, #data {
  color: grey;
}
#data{
  font-size: small;
  margin-top: 5px;
  margin-bottom: 10px;
}
p>a{
  color: #5ca7ff;
}
#pic-description{
  font-size: smaller;
}
/* MAIN section2 */
#central-paragraph{
  margin-top: 15px;
  margin-bottom: 20px;
}

/* MAIN section3 */
table{
  width: 100%;
  border-spacing: 0;
  margin-top: 20px;
}
td, th{
  width: calc(100% /3);
}

tbody>tr, tfoot>tr {
height: 50px;
}

#blue-background{
  background-color: #23a9e5;
  color: white;
  font-weight: bold;
}
#lightblue-background{
  background-color: #b1e5f2;
}
th{ 
  text-align: left;
}

/* FOOTER */

footer>p{
  color: grey;
  font-weight: bold;
}

#schermoimg{
  background-image: url(../img/monitor.jpg);
  width: 312px;
  height: 208px;
  color: white;
  font-size: large;
  font-weight: 700;
  position: relative;
  margin-bottom: 25px;
}
#graficoimg{
  background-image: url(../img/graph.jpg);
  width: 312px;
  height: 208px;
  color: white;
  font-size: large;
  font-weight: 700;
  position: relative;
  margin-bottom: 25px;
}
.imgovertext{
  position: absolute;
  top: 10px;
  left: 8px;
}